a.out
book.exe
greater.exe
mountain.exe
painter.exe
sort.exe
stick.exe
user.exe
water.exe
zeros.exe
unique.exe
product.exe
palindromen.exe
palindrome.exe
permutation.exe
reverse.exe
reverseword.exe
compression.exe
next.exe
